.Todo-app {
  padding-top: 35px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px;
}

ul {
  padding: 0px;
  text-align: left;
}

li {
  list-style-type: none;
}

.message {
  background-color: #61dafb;
  color: white;
  border: solid 1px #61dafb;
  position: absolute;
  text-align: center;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  top: 200px;
}
